name: Stataistics

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate Language Stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          # ТОЛЬКО языки
          SHOW_LANGUAGE: "true"
          SHOW_EDITORS: "false"
          SHOW_OS: "false"
          SHOW_PROJECTS: "false"
          SHOW_LINES_OF_CODE: "false"
          SHOW_TITLE: "false"
          # Компактный вид
          LAYOUT: "compact"
          LANG_COUNT: 10
          TIME_RANGE: "all_time"
