name: Stataistics

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Update WakaTime Stats
        uses: anmol098/waka-readme-stats@master
        with:

          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          SHOW_TITLE: true
          SHOW_LANGUAGE: true
          SHOW_TIMEZONE: false
          

          SHOW_EDITORS: false
          SHOW_OS: false
          SHOW_PROJECTS: false
          SHOW_LINES_OF_CODE: false
          SHOW_DAYS_OF_WEEK: false
          SHOW_PROFILE_VIEWS: false
          
          SECTION_NAME: waka
          LOCALE: ru
